target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.DS_Store
**/.factorypath
/core/core.iml
/agent/agent.iml
/target
**/.settings
**/.classpath
**/.project
.idea
**/*.iml
/nb-configuration.xml
**/target
core/src/main/resources/com/taobao/arthas/core/res/version
**/*.orig

site/src/site/sphinx/_build
site/src/site/sphinx/en/_build

**/__pycache__

node_modules
.cache
dist
package-lock.json
.vscode
/k8s/src/test/resources/conf.properties
